extends layout
block content
    div.wrapper
        div.top
            div.top1
                ul
                    li 糯米
                    li 新闻
                    li hao123
                    li 地图
                    li 视 频
                    li 贴吧
                    li 登陆
                    li 设置
            div.blue
                span 更多产品
        div.clear
        div.logo
            img(src='images/baidu.png')
        div.sesh
            div.sesh2
                img(src='images/.png')
            div.sesh1
                span 百度一下
